<div class="center">
    <h5>Click a skill!</h5>
</div>
<p><b>Game Dev:</b></p>
 <p>
    C++
    <a href="{{ site.baseurl }}/projects/snake">[1]</a>
    <a href="{{ site.baseurl }}/projects/chomp">[2]</a>, 
    Unity (C#)
    <a href="{{ site.baseurl }}/projects/gal">[1]</a>
    <a href="{{ site.baseurl }}/projects/lunar">[2]</a>
    <a href="{{ site.baseurl }}/projects/neoncloud">[3]</a>, 
    SFML
    <a href="{{ site.baseurl }}/projects/snake">[1]</a>
    <a href="{{ site.baseurl }}/projects/chomp">[2]</a>,
    Python
    <a href="https://github.com/TelloViz/Pig-Dice-Game">[1]</a>
</p>
<p><b>Art:</b></p>
<p>
    <a href="{{ site.baseurl }}/art/design">Photoshop</a>, 
    <a href="{{ site.baseurl }}/projects/bomber">Illustrator</a>,
    <a href="{{ site.baseurl }}/art/office">3dsMax</a>, Blender, Premiere, 
    <a href="{{ site.baseurl }}/projects/bomber">Drawing</a>, 
    <a href="{{ site.baseurl }}/projects/bomber">Character Development</a>
</p>
<p><b>Music:</b></p>
<p>
    Guitar
    <a href="{{ site.baseurl }}/music/guitar">[1]</a>, 
    Bass
    <a href="{{ site.baseurl }}/music/guitar">[1]</a>, 
    Fl Studio
    <a href="{{ site.baseurl }}/music">[1]</a>, 
    Music Theory
    <a href="{{ site.baseurl }}/music">[1]</a>
</p>