---
---

@charset "utf-8";

@import "devlopr";

/* custom css goes below */


// div.yt-video {
//     position: relative;
//     padding: .25rem; /* Add padding for the border */
//     background-color: #000000 !important; /* Set background color */
//     border: 4px solid #b16ede !important; /* Set the magenta border */
//     border-radius: .25rem; /* Add border-radius */
//     max-width: 100%;
//     height: auto;
//     overflow: visible;
// }

// div.yt-video iframe, div.yt-video object, div.yt-video embed {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100% !important;
//     height: 100% !important;
// }


.center {
    text-align: center;
}
.center > div, .center > table /* insert any other block-level elements here */ {
    margin-left: auto;
    margin-right: auto;
}

img.centered
{
    max-width: 100%;
    min-width: 400px;
    height: auto;
}

/* Apply a white border of 2 pixels to all img elements within elements with class 'image' */
a.image img {
    border: 2px solid #fff; /* White color */
}

